<nz-layout class="layout">
  <nz-header>
    <div class="header-trigger" (click)="isCollapsed = !isCollapsed">
      <i nz-icon [nzType]="isCollapsed ? 'menu' : 'menu-fold'" nzTheme="outline"></i>
    </div>
    <div *ngIf="innerWidth >= 992" class="logo"></div>
    <div *ngIf="innerWidth < 992" class="logo-sm"></div>
    <div class="header-current-user-group">
      <div class="header-current-user-group__item">
        <button
          class="header-current-user-group__item-button"
          nz-button
          nzType="default"
          nzShape="round"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="currentUserDropdown"
        >
          <nz-avatar
            [nzText]="avatarName"
            [ngStyle]="{ 'background-color': avatarColor }"
            nzSize="large"
            style="vertical-align: middle; margin-right: 8px"
          >
          </nz-avatar>
          <span *ngIf="user">{{ user.firstName }} {{ user.lastName }}</span>
          <nz-dropdown-menu #currentUserDropdown="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Log Out</li>
            </ul>
          </nz-dropdown-menu>
        </button>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="sider-menu"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      nzBreakpoint="md"
      [nzCollapsedWidth]="innerWidth >= 992 ? 80 : 0"
    >
      <ul nz-menu nzTheme="light" nzMode="inline">
        <li nz-menu-item nzMatchRouter [routerLink]="['dashboard']">
          <i class="fas fa-tachometer-alt fa-lg"></i><span>แผงควบคุม</span>
        </li>
        <li nz-submenu nzOpen [nzTitle]="utilitySubmenuTemplate">
          <ul>
            <li nz-menu-item nzMatchRouter [routerLink]="['utilities', 'electricity']">
              <i class="fas fa-plug fa-lg"></i><span>ไฟฟ้า</span>
            </li>
            <li nz-menu-item nzMatchRouter [routerLink]="['utilities', 'waterworks']">
              <i class="fas fa-faucet fa-lg"></i><span>ประปา</span>
            </li>
          </ul>
        </li>
        <ng-template #utilitySubmenuTemplate>
          <i class="fas fa-file-invoice-dollar fa-lg"></i>
          <span>สาธารณูปโภค</span>
        </ng-template>
        <li nz-menu-item nzMatchRouter [routerLink]="['foods']">
          <i class="fas fa-drumstick-bite fa-lg"></i><span>อาหาร</span>
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['inventories']">
          <i class="fas fa-pump-soap fa-lg"></i><span>ของใช้ในบ้าน</span>
        </li>
        <li nz-submenu [nzTitle]="portalSubmenuTemplate">
          <ul>
            <li nz-menu-item>
              <a href="http://192.168.1.1" target="_blank">
                <i class="fas fa-network-wired fa-lg"></i><span>Gateway</span></a
              >
            </li>
            <li nz-menu-item>
              <a href="http://192.168.1.1" target="_blank">
                <i class="fas fa-wifi fa-lg"></i><span>Access Point</span></a
              >
            </li>
            <li nz-menu-item>
              <a href="http://192.168.1.105:8581" target="_blank">
                <i class="fab fa-apple fa-lg"></i><span>Homebridge</span></a
              >
            </li>
          </ul>
        </li>
        <ng-template #portalSubmenuTemplate><i class="fas fa-ellipsis-h fa-lg"></i><span>Portal</span></ng-template>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; let i = index">
            <ng-container *ngIf="i === breadcrumbs.length - 1; else linkBreadcrumb">{{
              breadcrumb.label
            }}</ng-container>
            <ng-template #linkBreadcrumb>
              <a [routerLink]="breadcrumb.path">{{ breadcrumb.label }}</a>
            </ng-template>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
