$header-height: 64px;

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  min-height: 100vh;
  max-width: 100vw;
}

nz-header {
  background: #fff;
  padding-left: 8px;
  padding-right: 16px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header__trigger {
  height: $header-height;
  padding: 0 8px;
  margin-right: 24px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  float: left;
}

.header__trigger:hover {
  color: rgb(31, 199, 212);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgb(210, 210, 210);
  margin: 16px 24px 16px 0;
  display: inline-block;
}

.logo-sm {
  width: 31px;
  height: 31px;
  background: rgb(210, 210, 210);
  margin: 16px 24px 16px 0;
  display: inline-block;
}

nz-sider {
  background: #fff;
  height: 100%;
  margin-top: $header-height;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;

  li:focus {
    outline: 0;
  }
  span {
    font-size: medium;
  }

  .sider-menu {
    border-right: 0;
  }
}

.main {
  width: 100%;
  overflow: auto;
  padding: 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s;
}

.main__uncollapsed {
  margin-left: 200px;
}

.main__collapsed {
  margin-left: 80px;
}

.main__mobile-collapsed {
  margin-left: 0px;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overlay-toggled {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

nz-content {
  width: 100%;
  min-height: 0;
  margin-top: $header-height;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  nz-content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  nz-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  nz-content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  nz-content {
    max-width: 1140px;
  }
}
