nz-card {
  margin-bottom: 1em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.chart-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  .chart-container__chart {
    height: 27vh;
  }
}

.action-bar,
.search-bar {
  margin-bottom: 0.75em;
}
