.chart-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  .chart-container__chart {
    height: 27vh;
  }
}

.action-bar,
.search-bar {
  margin-bottom: 0.75em;
}

[nz-col] {
  padding: 0.2em 0;
}
