<nz-card>
  <h2 nz-typography>
    <div *ngIf="!editMode; else editModeTemplate">เพิ่มรายการอาหาร</div>
    <ng-template #editModeTemplate>แก้ไขรายการอาหาร</ng-template>
  </h2>
  <div nz-form [formGroup]="foodForm">
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3" nzRequired nzFor="name">ชื่ออาหาร</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9" nzHasFeedback nzErrorTip="กรุณากรอกชื่ออาหาร">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3" nzRequired nzFor="quantity">จำนวน</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9" nzErrorTip="กรุณากรอกจำนวนให้ถูกต้อง">
        <input nz-input formControlName="quantity" id="quantity" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3" nzRequired nzFor="unit">หน่วย</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9" nzHasFeedback nzErrorTip="กรุณากรอกชื่ออาหาร">
        <input nz-input formControlName="unit" id="unit" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3" nzRequired>วันที่ซื้อ</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9" nzErrorTip="กรุณาเลือกวันที่ซื้อ">
        <nz-date-picker formControlName="buyDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3" nzRequired>วันหมดอายุ</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9" [nzErrorTip]="expireDateErrorTpl">
        <nz-date-picker formControlName="expireDate"></nz-date-picker>
      </nz-form-control>
      <ng-template #expireDateErrorTpl let-control>
        <ng-container *ngIf="control.hasError('overlap')">วันหมดอายุห้ามน้อยกว่าวันที่ซื้อ</ng-container>
        <ng-container *ngIf="control.hasError('required')">กรุณาเลือกวันหมดอายุ</ng-container>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="24" [nzSm]="4" [nzMd]="3" [nzLg]="3">สถานะ</nz-form-label>
      <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="9" [nzLg]="9">
        <nz-tag *ngIf="getExpirationStatus() === foodStatus.Expired" [nzColor]="'#f50'">หมดอายุ</nz-tag>
        <nz-tag *ngIf="getExpirationStatus() === foodStatus.Soon" [nzColor]="'#ffc069'">ใกล้หมดอายุ</nz-tag>
      </nz-col>
    </nz-form-item>
  </div>
  <nz-row [nzGutter]="8">
    <div nz-col>
      <button [nzType]="'primary'" (click)="submitForm()" nz-popconfirm nz-button>
        <i nz-icon nzType="save" nzTheme="outline"></i>
        บันทึก
      </button>
    </div>
    <div nz-col>
      <button
        [nzPopconfirmTitle]="'คุณต้องการล้างค่ารายการอาหารใช่หรือไม่'"
        (nzOnConfirm)="resetForm()"
        [nzPopconfirmPlacement]="'right'"
        nz-popconfirm
        nz-button
      >
        <i nz-icon nzType="clear" nzTheme="outline"></i>
        ล้างค่า
      </button>
    </div>
  </nz-row>
</nz-card>
