/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Kanit;
  src: url(./assets/font/Kanit/Kanit-Black.ttf);
  font-weight: 900;
}

body {
  font-family: Kanit;
}

.ant-pagination-item {
  font-family: Kanit;
}

.ant-menu-item {
  span {
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
  }
}

.ant-menu-inline-collapsed {
  span {
    opacity: 0;
  }
}

nz-table {
  overflow-x: auto;
}

i.fa,
i.far,
i.fas,
i.fab {
  width: 18px;
  margin-right: 10px;
}
